<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backend</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'backend/css/backend.css'%}">
</head>
<body>
    <section id="title-section">
        <h2>Nishantha Publishers</h2>
    </section>
    <section id="side-section">
        <h4>Management</h4>
        <div>Frontend</div>
        <div onclick="navigateTo('/admin/', 1500, 800)">Admin</div>
        <div onclick="navigate('/cashier/logout/')">Logout</div>
    </section>
    <section id="rest-section">
        <select id="rest-section-locations"></select>
        <br>
        <div class="backend-btn" onclick="navigateTo('{% url 'backend:item' %}', 800,800)">
            <img src="{% static 'backend/img/item.png' %}">
            <p>Items</p>
        </div>
        <div class="backend-btn" onclick="navigateTo('{% url 'backend:author' %}', 800,800)">
            <img src="{% static 'backend/img/author.png' %}">
            <p>Authors</p>
        </div>
        <div class="backend-btn" onclick="navigateTo('{% url 'backend:publisher' %}', 800,800)">
            <img src="{% static 'backend/img/publisher.png' %}">
            <p>Publishers</p>
        </div>
        <div class="backend-btn" onclick="navigateTo('{% url 'backend:book_type' %}', 800,800)">
            <img src="{% static 'backend/img/book_type.png' %}">
            <p>Book Type</p>
        </div>
        <div class="backend-btn" onclick="navigateTo('{% url 'backend:location' %}', 800,800)">
            <img src="{% static 'backend/img/location.png' %}">
            <p>Location</p>
        </div>
        <div class="backend-btn" onclick="navigateTo('{% url 'backend:sales_report' %}', 800,800)">
            <img src="{% static 'backend/img/sales.png' %}">
            <p>Sales Report</p>
        </div>
        <div class="backend-btn" onclick="navigateTo('{% url 'backend:stock_balance' %}', 800,800)">
            <img src="{% static 'backend/img/stock.png' %}">
            <p>Stock Balance</p>
        </div>
        <div class="backend-btn" onclick="navigateTo('{% url 'backend:add_stock' %}', 1500,800)">
            <img src="{% static 'backend/img/add_stock.png' %}">
            <p>Add Stock</p>
        </div>
        <div class="backend-btn" onclick="navigateTo('{% url 'backend:location_transfer' %}', 800,800)">
            <img src="{% static 'backend/img/location_transfer.png' %}">
            <p>Location Transfer</p>
        </div>
        <div class="backend-btn" onclick="navigateTo('{% url 'backend:invoice' %}', 800,800)">
            <img src="{% static 'backend/img/invoice.png' %}">
            <p>Invoice</p>
        </div>
        <div class="backend-btn" onclick="navigateTo('{% url 'backend:inquiry' %}', 800,800)">
            <img src="{% static 'backend/img/inquiry.png' %}">
            <p>Inquiry</p>
        </div>
    </section>
    <script>
        function navigateTo(url, w, h){
            window.open(url, "_blank", `toolbar=no,scrollbars=no,resizable=yes,top=${(screen.height/2)-(h/2)},left=${(screen.width/2)-(w/2)},width=${w},height=${h}`);
        };
        function navigate(url){
            window.location.replace(url);;
        };
        let locations = [
            {% for location in locations %}
            {'name': '{{location.name}}'},
            {% endfor %}
        ];
        function setLocations(){
            const locationElem = document.getElementById('rest-section-locations');
            const defaultLocation = '{{ user.cashier.location.name }}';
            let locationElemInner = '';
            locationElemInner += `<option value="${defaultLocation}">${defaultLocation}</option>`;
            locations.map((l) => {
                if(l.name != defaultLocation) { locationElemInner += `<option value="${l.name}">${l.name}</option>`;}
            });
            locationElem.innerHTML = locationElemInner;
        };setLocations();
    </script>
</body>
</html>