<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inquiry</title>
    {% load static %}
    {% include 'favicon.html' %}
    <link rel="stylesheet" href="{% static 'backend/css/inquiry.css' %}">
</head>
<body>
    <section id="invoice-custom">
        <form>
            <input type="text" placeholder="Search..." oninput="searchNow(this)">
            <label for="signature">Signatures</label>
            <input type="checkbox" name="signature" id="signature">
        </form>
    </section>
    <div id="inquiry-div-">
    {% for inquiry in inquirys %}
    <div class="inquiry-div">
        <button class="button-30" onclick="navigateTo(`/backend/inquiry/{{ inquiry.pk }}/`, 800, 800)">{{ inquiry.no }}</button>
    </div>
    {% endfor %}
    <div></div>
    <!-- CSRF TOKEN -->
    {% csrf_token %}
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script>
        function navigateTo(url, w, h){
            window.open(url, "_blank", `toolbar=no,scrollbars=no,resizable=yes,top=${(screen.height/2)-(h/2)},left=${(screen.width/2)-(w/2)},width=${w},height=${h}`);
        };
        let inquirys = [
            {% for inquiry in inquirys %}
            {'no': '{{inquiry.no}}', 'pk':'{{ inquiry.pk }}'},
            {% endfor %}
        ];
        function searchNow(elem){
            console.log('This is running tho');
            let arr1 = [];
            for(let i of inquirys){
                if(i['no'].toLowerCase().includes(elem.value.toLowerCase())){
                    arr1.push(i);
                };
            };
            let innerHtml = '';
            for(let a of arr1){
                innerHtml += `
                    <div class="inquiry-div">
                        <button class="button-30" onclick="navigateTo("/backend/inquiry/${ a.pk }/", 800, 800)">${ a.no }</button>
                    </div>`;
            };
            document.getElementById('inquiry-div-').innerHTML = innerHtml;  
        };
    </script>
</body>
</html>