<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publisher</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'backend/publisher.css' %}">
</head>
<body>
    <h4>Publishers</h4>
    <div id="publisher_name_div">
        <input list="publisher_name" name="publisher_name" placeholder="Publisher Name" autofocus oninput="publisherNameSelected()">
        <datalist id="publisher_name">
            <!-- <option value="Chrome"> -->
        </datalist>
    </div>
    <div id="publisher_tel_div">
        <input list="publisher_tel" name="publisher_tel" placeholder="Publisher Tel">
        <datalist id="publisher_tel">
            <!-- <option value="Chrome"> -->
        </datalist>
    </div>
    <div id="publisher_address_div">
        <input list="publisher_address" name="publisher_address" placeholder="Publisher Address">
        <datalist id="publisher_address">
            <!-- <option value="Chrome"> -->
        </datalist>
    </div>
    <div id="btns">
        <button onclick="savePublisher()">Save</button>
        <button onclick="updatePublisher()">Update</button>
        <button onclick="deletePublisher()">Delete</button>
        <button onclick="clearInputs()">Clear</button>
        <button onclick="windowClose()">Close</button>
    </div>
    <!-- CSRF TOKEN -->
    {% csrf_token %}
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script>
        let publishers = [
            {% for publisher in publishers %}
            {'name': '{{publisher.name}}', 'tel':'{{ publisher.tel }}', 'address': '{{ publisher.address }}'},
            {% endfor %}
        ];
    </script>
    <script src="{% static 'backend/publisher.js' %}"></script>
</body>
</html>