*{
    padding: 0;
    margin: 0;
    font-family: "JetBrains Mono",monospace;
}
body{
    padding: 2%;
}
h4{
    width: 100%;
    text-align: center;
    font-size: 24px;
}
input{
    border: 0;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
}
#location_div{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: inline-block;
}
#location_div input{
    width: 100%;
}
#btns{
    width: 100%;
}
#btns button{
    border: 0;
    padding: 10px;
    font-size: 18px;
    width: 18%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}
table{
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
}
table td{
    padding-left: 5px;
    font-size: 20px;
}
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}